.card_container{
  width: 350px;
  height: 350px;
  border: none;
  border-radius: 10px;
  background-color: var(--white);
  position: relative;
  z-index: 2;
}
.card-img-background{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.circle2{
  position: absolute;
  width: 300px; /* Ajusta el tamaño del círculo como prefieras */
  height: 500px; /* Ajusta el tamaño del círculo como prefieras */
  top: 90%; /* Ajusta la posición vertical del círculo */
  right: 20%; /* Ajusta la posición horizontal del círculo */
  transform: translate(-50%, -50%); /* Centra el círculo */
  z-index: 0; /* Asegura que esté detrás del contenido */
}
.circle1{
  position: absolute;
  width: -300px; /* Ajusta el tamaño del círculo como prefieras */
  top: -9%; /* Ajusta la posición vertical del círculo */
  left: 10%; /* Ajusta la posición horizontal del círculo */
  transform: translate(-50%, -50%); /* Centra el círculo */
  z-index: 1; /* Asegura que esté detrás del contenido */
}
@media (min-width: 375px) {
  .card_container{
    width: 300px;
  }
  .circle2{
    position: absolute;
    width: 100px; /* Ajusta el tamaño del círculo como prefieras */
    height: 500px; /* Ajusta el tamaño del círculo como prefieras */
    top: 90%; /* Ajusta la posición vertical del círculo */
    right: 20%; /* Ajusta la posición horizontal del círculo */
    transform: translate(-50%, -50%); /* Centra el círculo */
    z-index: 0; /* Asegura que esté detrás del contenido */
  }
}
